* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  background-color: #fafafa;
}

h2 {
  font-weight: 700;
}

#heading {
  color: hsl(0, 0%, 100%);
  position: relative;
  top: 8px;
}

#heading p {
  color: hsl(276, 100%, 81%);
}

.arrow {
  border: solid hsl(0, 0%, 100%);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  float: left;
  left: 15px;
  position: relative;
  top: 8px;
}

#photo {
  float: left;
  border-radius: 100%;
  border: 2px solid hsl(0, 0%, 100%);
  position: relative;
  left: 20px;
}

#identity {
  width: 75px;
  height: 25px;
  float: left;
  font-size: 7px;
  position: relative;
  left: 30px;
  top: 2px;
}

#identity p {
  font-weight: 300;
}

#dots {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: hsl(0, 0%, 100%);
  float: left;
  right: 17px;
  top: 7px;
}

#dots:before,
#dots:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: inherit;
  border-radius: inherit;
}

#dots:before {
  top: 3px;
}

#dots:after {
  top: 6px;
}

.bg {
  width: 188px;
  height: 495px;
}

.high-bg {
  border-radius: 0 0 200px 0;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}

.low-bg {
  border-radius: 200px 0 0 0;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f9f4fa;
}

#description {
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 40px;
  bottom: 0;
}

#description p {
  padding-bottom: 30px;
  line-height: 20px;
  color: hsl(270, 7%, 64%);
}

#description h1 {
  padding-bottom: 30px;
  font-weight: 700;
  color: hsl(271, 36%, 24%);
}

#phone {
  width: 250px;
  height: 505px;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  z-index: 1;
  margin: auto;
  top: 64px;
  border-radius: 25px;
  padding: 8px;
  margin-bottom: 70px;
  box-shadow: 8px 9px 29px -16px rgb(0 0 0 / 88%);
}

#phone-bg {
  background-color: #f5f3f8;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

#phone-header-blank {
  width: 130px;
  height: 27px;
  background-color: #fffffd;
  margin: auto;
  border-radius: 0 0 18px 18px;
  top: -1px;
  position: relative;
}

#phone-header {
  border-radius: 20px 20px 10px 10px;
  height: 70px;
  width: 100%;
  margin-bottom: 14px;
  background: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}

#message-input {
  background-color: hsl(0, 0%, 100%);
  color: hsl(206, 6%, 79%);
  font-size: 9px;
  border-radius: 50px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 210px;
  height: 30px;
}

#message-input p {
  bottom: -10px;
  left: 20px;
  position: relative;
}

#submit {
  width: 23px;
  height: 23px;
  background-color: hsl(271, 36%, 24%);
  border-radius: 100%;
  position: absolute;
  right: 4px;
  top: 3px;
}

#submit .arrow {
  transform: rotate(315deg);
  position: relative;
  left: 6px;
  top: 7px;
}

.owner-msg {
  color: hsl(271, 15%, 43%);
  background-color: hsl(0, 0%, 100%);
  font-size: 9px;
  position: relative;
  right: 0px;
  padding: 10px;
  margin: 5px;
  border-radius: 25px 25px 5px 25px;
}

.recipient-msg {
  background-color: #ede5f2;
  color: hsl(276, 55%, 52%);
  font-size: 9px;
  position: relative;
  padding: 10px;
  margin: 5px;
  border-radius: 25px 25px 25px 5px;
}

.msg-text {
  float: left;
  color: hsl(0, 0%, 100%);
  position: relative;
  left: 10px;
}

.msg-1 {
  width: 135px;
}

.msg-2 {
  width: 143px;
}

.msg-3 {
  width: 150px;
  right: -75px;
}

.msg-4 {
  width: 100px;
  right: -125px;
}

.msg-5 {
  width: 146px;
}

.msg-6 {
  width: 146px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}

.msg-7 {
  width: 146px;
  background: linear-gradient(
    to right,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}

.round-form {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  float: left;
  border: 0.02px solid hsl(0, 0%, 100%);
}

.price {
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.msg-6 .price {
  position: relative;
  right: -25px;
}

.msg-7 .price {
  position: relative;
  right: -47px;
}

.photo-msg {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  right: -103px;
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  body {
  }
}
